/* src/components/BookTable.css */

  
  .table-container {
    overflow-x: auto;
    min-width: 600px; /* Adjust based on your layout needs */
    width: 100%;
  }
  
  .table {
    min-width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-top: 40px;
  }
  
  .table thead {
    background-color: var(--color-gray-green);
  }
  
  .table th,
  .table td {
    padding: var(--padding);
    border-bottom: 1px solid var(--color-gray-white);
    text-align: left;
    vertical-align: middle;
  }
  
  .table th {
    color: var(--color-gray-600);
    font-weight: 600;
  }
  
  .table th.text-center,
  .table td.text-center {
    text-align: center;
  }
  
  tbody tr:hover {
    background-color: var(--color-gray-green-strong);
    transition: background-color var(--transition-duration);
  }
  
  .table img {
    max-height: var(--img-max-height);
    max-width: 100%;
    object-fit: contain;
  }
  
  .table .img-container {
    height: var(--img-height);
    width: var(--img-height);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table .favorite {
    cursor: pointer;
  }
  

  .publish-date-column {
    width: 160px;
  }
