.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  background-color: var(--color-gray-green-strong);
  color: var(--color-white);
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  width: 80px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: var(--color-grey-blue);
}

.pagination-button:disabled {
  background-color: var(--color-gray-green-strong);
  cursor: not-allowed;
}

